$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -12px;
  font-size: 12px;
  color: $main-color;
}
// input for number the arrow : hidden
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// button
.custom-button {
  min-width: 135px;
  width: fit-content;
  height: fit-content;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: rgb(8, 4, 4);
  opacity: 0.95;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: rgb(102, 102, 102);
    color: black;
    border: 1px solid black;
  }
}

.outer-partiton {
  display: flex;
  flex: 1 2 auto;
  flex-direction: row;

  &.inner-partition-left {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    margin: 20px;
    right: -12px;
    &.form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: thick double #3b3b3b;
    }
    &.history{
      border: thick 2px silver;
    }
  }
}





