.his{
    overflow-x: scroll;
    overflow-y: hidden;
   
    border: 1px solid black;
    width: autp ;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.divText{
    align-items: center;
    margin-bottom: 40px;
}
.historycss{
    justify-content: center;
    align-items: center;
    left: 12px;
    right: 13px;
}